.shop{
    display:inline-block;
    float:left;
    width:300px;
    height:100px;
    border:1px solid black;
    border-radius:1px;
    padding:15px;
    box-sizing: border-box;
    margin:10px;
}

.shop__info{
    font-weight:bold;
    display:inline-block;
    position:relative;float: left;
}

.shop__info_center{
    display:inline-block;
    position:relative;
    transform: translate(-50%,0);
    left:50%;
}

.shop__info_overflow{
    overflow-x:hidden;
    display:inline-block;
    position:relative;
    float: left;
}

.shop_clearfix{
    clear:both;
}

